# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
1. Some of the popular languages that Data Science use.
2. Some of the commonly used libraries used by Data Scientists.
3. Table of Data Science tools.
4. A few examples of evaluating arithmetic expressions in Python.

**Some of the popular languages that Data Scientists use are:**
* Python
* R
* SQL

**Some of the commonly used libraries used by Data Scientists include:**
* ggplot
* Lattice
* leaflet

| Python             |
| ------             |
| Visual Studio Code |
| Jupyter Notebook   |
| Anaconda           |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Mohamed Abdelkader